

.container-fluid{
	background-image: url(../images/bg-lg.png);
	color: white;
}

.gameTitle {
	font-size: 55px;
	font-family: 'Ruslan Display', cursive;
	text-align: center;
}

.sectionTitles {
	font-size: 30px;
	margin: 20px;
	font-family: 'Ruslan Display', cursive;
}

.knightCont {
width: 200px;
height: 230px;
border: 4px solid #cccccc;
position: relative;
text-align: center;
}
.knight {
	
	top: 10%;
}

.pyromancerCont {
width: 200px;
height: 230px;
border: 4px solid #cccccc;
position: relative;
text-align: center;
}
.pyro {
	
	top: 10%;
}

.pursuerCont {
width: 300px;
height: 350px;
border: 4px solid #cccccc;
position: relative;
text-align: center;
}
.pursuer {
	
	top: 10%;
}

.crystalCont {
width: 300px;
height: 350px;
border: 4px solid #cccccc;
text-align: center;
}
.crystalSage {
	
	top: 10%;
}

.yhormCont {
width: 300px;
height: 350px;
border: 4px solid #cccccc;
position: relative;
text-align: center;
}
.yhorm {
	
	top: 10%;
}

.charName {
	margin: 10px;
	font-size: 25px;
}

.charArena {
	background-color: gray;
	height: 300px;
}

.bossArena {
	background-color: black;
	height: 450px;
}
